/Data
# Credenciales personales
.dvc/config.local

# Jupyter Notebooks
.ipynb_checkpoints/

# MLflow
mlruns/
*.db
mlflow_experimentos.db

# Python
__pycache__/
*.pyc

# Imágenes y Assets
*.png

# Next.js
frontend/.next/
frontend/node_modules/

# md personal files
architecture.md

# test_api.py para probar la API
test_api.py